@using Microsoft.AspNetCore.Identity

<ul class="navbar-nav">
    @if (Context.User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="OICDSession" asp-action="UserProfile" title="Manage">Hello @User.Claims.Where(claim => claim.Type.Equals("name")).FirstOrDefault().Value</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="OICDSession" asp-action="Logoff">Logoff</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="OICDSession" asp-action="Login">Login</a>
        </li>
    }
</ul>