@using ControlSharp.Database.Identity.Model
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<User> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                Assets
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-area="" asp-controller="Asset" asp-action="Asset">Registerd</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Discovered</a>
            </div>
        </li>
    }
    else
    {
    }
</ul>