@using ControlSharp.Database.Identity.Model
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<User> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a alig class="nav-link text-dark" asp-area="" asp-controller="Asset" asp-action="Asset">Asset</a>
        </li>
    }
    else
    {
    }
</ul>